/***** MAIN *****/

#nav {
  height: auto;
}

#header {

}

#about, #work, #contact {
  height: 600px;
  clear: both;
}

body {
  background-color: #1f202b;
  color: #ffffff;
  font-family: 'Space Mono', monospace;
}

/***** FRAME *****/

.full-width {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.half-width {
  float: left;
  width: 600px;
}

/***** NAV *****/

h1 {
  font-family: 'BioRhyme Expanded', serif;
}

#nav ul {
  text-align: right;
  font-size: large;
}

/***** HEADER *****/

#header img {
  height: 730px;
  width: 1200px;
}

.hero-image {
  position: relative;
  text-align: center;
  color: white;
}

.hero-text {
  bottom: 400px;
  font-size: xx-large;
  left: 88px;
  position: absolute;
}
