/***** MAIN *****/

#nav-bar {
  height: auto;
}

#about, #portfolio, #contact {
  height: auto;
  clear: both;
}

body {
  background-color: #1f202b;
  color: #ffffff;
  font-family: 'Space Mono', monospace;
}

#portfolio h2, #about h2, #contact h2 {
  color: #f16e24;
  text-align: center;
  text-transform: lowercase;
}

#portfolio,#about,#contact {
  padding-top: 40px;
}

/***** FRAME *****/

.full-width {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.half-width {
  float: left;
  width: 600px;
}

.third-width {
  text-align: center;
  float: left;
  width: 400px;
}

/***** NAV *****/

h1 {
  font-family: 'BioRhyme Expanded', serif;
}

#nav-bar ul {
  text-align: right;
  font-size: large;
}

/***** HEADER *****/

#top-banner img {
  width: 1200px;
}

.hero-image {
  color: white;
  position: relative;
  text-align: center;
}

.hero-text {
  bottom: 250px;
  left: 88px;
  position: absolute;
  text-align: initial;
  text-transform: lowercase;
  width: 550px;
}

.hero-text span {
  color: #af002f;
}

/***** Work *****/

#portfolio img {
  height: 30%;
  width: 30%;
}

.jubilee-container {
  height: auto;
}

#jubilee-image {
  float: left;
}

#jubilee-text {
  float: right;
}

#rogue-image {
  clear: both;
  float: right;
}

#rogue-text {
  float: left;
}

/***** About me *****/

#about img {
  width: 1200px;
}

.about-img {
  position: relative;
  text-align: center;
  color: white;
}

.about-title {
  bottom: 400px;
  left: 590px;
  position: absolute;
  text-align: initial;
  text-transform: lowercase;
}

.about-text {
  bottom: 300px;
  left: 50px;
  position: absolute;
  text-align: initial;
  text-transform: lowercase;
  width: 800px;
}

/***** Contact *****/

#contact h3 {
  color: #fe00ad;
}

.follow {
  padding-left: 20px;
  padding-right: 20px;
}

/***** Footer *****/

footer {
  color: #9da8d6;
}

#footer-left {
  text-align: right;
}

#footer-right {
  text-align: left;
}